html {
  box-sizing: border-box;
  background: #00fbff
    url(https://source.unsplash.com/collection/827743/1600x800);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
  scroll-behavior: unset;
}

body {
  background: none;
  margin: 0;
  @media (min-width: 480px) {
    margin: 2rem;
  }
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 1.2rem;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
