.task-editor {
  display: flex;
  border-bottom: 1px solid rgba(rgb(0, 0, 0), 0.05);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);

  .task-editor-icon {
    margin: 1.2rem;
    display: flex;
    align-items: center;
    &:after {
      content: '➕';
    }
  }

  form {
    width: 100%;
  }

  input {
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    padding: 1.2rem;
    transition: all 200ms ease;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 1.2rem;
    font-weight: 200;
    border-left: 1px solid rgba(#d1e2ff, 0.7);
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}
